.container {
  max-width: $container;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  max-width: $container-fluid;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  @include mq(lg) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
